In [ ]:
import pandas as pd
import requests
import altair as alt

[![Binder](http://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/EconomicsObservatory/courses/HEAD?labpath=5%2Fs5_transforming_data.ipynb)

<a href="https://colab.research.google.com/github/EconomicsObservatory/courses/blob/main/5/s5_transforming_data.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# A Transforming Data

The bread and butter of a data workflow is cleaning and preparation, taking raw datasets and transforming them into a useful form.

Today we're going to produce a chart using two series from the Economics Observatory API that we'll transform with `Pandas` and present with `Vega-lite`. We will produce a chart showing Indian Exports and Imports as a percentage of GDP using data sourced from the API.

</br></br></br></br>

</br></br></br></br>


</br></br></br></br>



## Introducing Tools: Pandas

The first tool we'll use today is `Pandas`, a Python library used to work with datasets. It provides access to `DataFrames` - tables we analyse with code.

Python already has a few built in data structures, for example lists and dictionaries:

</br></br></br>

</br>
</br>
</br>
</br></br></br>
</br></br>


# Introducing Tools: `Requests`

The `Requests` module allows us to fetch resources from the internet, whether these are `CSVs`, `JSONs`, images, `HTML` or anything else. This is particuarly important for requesting data from APIs.

</br>

It is simple to use. Usually allow we need to do is:

1. Make a request with `requests.get` and our target URL. For example we can request something from our GitHub repos:

    `req = requests.get("https://raw.githubusercontent.com/mclass-user/mclass-user.github.io/main/s2_chart1.json")`
</br>
</br>
2. Access the fetched data. Using `req.json()` for JSON data or `req.text` for most other data. For example, we can see the returned JSON for the chart we just fetched:
    </br>
    </br>
    `data = req.json()`

In [ ]:
req = requests.get("https://raw.githubusercontent.com/mclass-user/mclass-user.github.io/main/s2_chart1.json")


data = req.json()
data

{'$schema': 'https://vega.github.io/schema/vega-lite/v5.json',
 'title': {'text': 'Human Development Index ',
  'subtitle': ["P21 Countries' HDI, most recent year", 'Source: UN']},
 'description': 'A simple bar chart with embedded data.',
 'data': {'values': [{'Country': 'Bangladesh', 'HDI': 0.661},
   {'Country': 'Brazil', 'HDI': 0.754},
   {'Country': 'China', 'HDI': 0.768},
   {'Country': 'DR Congo', 'HDI': 0.479},
   {'Country': 'Egypt', 'HDI': 0.731},
   {'Country': 'Ethiopia', 'HDI': 0.498},
   {'Country': 'Germany', 'HDI': 0.942},
   {'Country': 'India', 'HDI': 0.633},
   {'Country': 'Indonesia', 'HDI': 0.705},
   {'Country': 'Iran', 'HDI': 0.774},
   {'Country': 'Japan', 'HDI': 0.925},
   {'Country': 'Mexico', 'HDI': 0.758},
   {'Country': 'Nigeria', 'HDI': 0.535},
   {'Country': 'Pakistan', 'HDI': 0.544},
   {'Country': 'Philippines', 'HDI': 0.699},
   {'Country': 'Russia', 'HDI': 0.829},
   {'Country': 'Thailand', 'HDI': 0.8},
   {'Country': 'Turkey', 'HDI': 0.838},
   {'Country': 'United Kingdom', 'HDI': 0.929},
   {'Country': 'United States', 'HDI': 0.921},
   {'Country': 'Vietnam', 'HDI': 0.703}]},
 'mark': 'bar',
 'encoding': {'y': {'field': 'Country',
   'type': 'nominal',
   'sort': '-x',
   'title': None},
  'x': {'field': 'HDI', 'type': 'quantitative'}},
 'width': 300,
 'height': 400}

</br></br>
</br></br>
</br>
</br>
</br>

Transforming the data

We need to produce a chart showing UK inflation rates and unemployment rates. To do this, we can use two series from the [Economics Observatory API](https://www.economicsobservatory.com/data-hub):
1. UK inflation rate
2. UK unemployment rate


</br>
</br>

We can find the API urls for these from the [Data-Hub](https://www.economicsobservatory.com/data-hub)


</br>
</br>

We find:

1. **Inflation**: https://api.economicsobservatory.com/gbr/infl
2. **Unemployment rate**: https://api.economicsobservatory.com/gbr/unemp


</br>
</br>


Let's try requesting the first of these, `Inflation rate` and see how it's formatted.

In [ ]:
inflation_req = requests.get("https://api.economicsobservatory.com/gbr/infl")
inflation_req.json()

{'author': 'Economics Observatory',
 'source': 'ONS',
 'url': 'https://api.ons.gov.uk/timeseries/L55O/dataset/MM23/data',
 'data': [{'date': '1989-01', 'value': 5.7},
  {'date': '1989-02', 'value': 5.8},
  {'date': '1989-03', 'value': 5.9},
  {'date': '1989-04', 'value': 5.6},
  {'date': '1989-05', 'value': 5.9},
  {'date': '1989-06', 'value': 5.8},
  {'date': '1989-07', 'value': 5.7},
  {'date': '1989-08', 'value': 5.5},
  {'date': '1989-09', 'value': 5.7},
  {'date': '1989-10', 'value': 5.8},
  {'date': '1989-11', 'value': 5.7},
  {'date': '1989-12', 'value': 5.8},
  {'date': '1990-01', 'value': 5.9},
  {'date': '1990-02', 'value': 6.3},
  {'date': '1990-03', 'value': 6.2},
  {'date': '1990-04', 'value': 7.7},
  {'date': '1990-05', 'value': 8.2},
  {'date': '1990-06', 'value': 8.2},
  {'date': '1990-07', 'value': 8.2},
  {'date': '1990-08', 'value': 8.9},
  {'date': '1990-09', 'value': 9.2},
  {'date': '1990-10', 'value': 9.2},
  {'date': '1990-11', 'value': 9.2},
  {'date': '1990-12', 'value': 9.2},
  {'date': '1991-01', 'value': 8.6},
  {'date': '1991-02', 'value': 8.2},
  {'date': '1991-03', 'value': 8.3},
  {'date': '1991-04', 'value': 8},
  {'date': '1991-05', 'value': 7.5},
  {'date': '1991-06', 'value': 7.7},
  {'date': '1991-07', 'value': 7.5},
  {'date': '1991-08', 'value': 7.5},
  {'date': '1991-09', 'value': 6.9},
  {'date': '1991-10', 'value': 6.5},
  {'date': '1991-11', 'value': 6.5},
  {'date': '1991-12', 'value': 6.5},
  {'date': '1992-01', 'value': 6.2},
  {'date': '1992-02', 'value': 6.3},
  {'date': '1992-03', 'value': 6.2},
  {'date': '1992-04', 'value': 5.2},
  {'date': '1992-05', 'value': 5.1},
  {'date': '1992-06', 'value': 4.6},
  {'date': '1992-07', 'value': 4.5},
  {'date': '1992-08', 'value': 3.7},
  {'date': '1992-09', 'value': 3.7},
  {'date': '1992-10', 'value': 3.5},
  {'date': '1992-11', 'value': 3.3},
  {'date': '1992-12', 'value': 3.2},
  {'date': '1993-01', 'value': 3},
  {'date': '1993-02', 'value': 3.1},
  {'date': '1993-03', 'value': 3.2},
  {'date': '1993-04', 'value': 2.6},
  {'date': '1993-05', 'value': 2.3},
  {'date': '1993-06', 'value': 2.2},
  {'date': '1993-07', 'value': 2.3},
  {'date': '1993-08', 'value': 2.6},
  {'date': '1993-09', 'value': 2.7},
  {'date': '1993-10', 'value': 2.4},
  {'date': '1993-11', 'value': 2.1},
  {'date': '1993-12', 'value': 2.3},
  {'date': '1994-01', 'value': 2.6},
  {'date': '1994-02', 'value': 2.4},
  {'date': '1994-03', 'value': 2.2},
  {'date': '1994-04', 'value': 2.4},
  {'date': '1994-05', 'value': 2.4},
  {'date': '1994-06', 'value': 2.3},
  {'date': '1994-07', 'value': 2.1},
  {'date': '1994-08', 'value': 2.2},
  {'date': '1994-09', 'value': 1.9},
  {'date': '1994-10', 'value': 1.8},
  {'date': '1994-11', 'value': 2.1},
  {'date': '1994-12', 'value': 2.2},
  {'date': '1995-01', 'value': 2.4},
  {'date': '1995-02', 'value': 2.3},
  {'date': '1995-03', 'value': 2.4},
  {'date': '1995-04', 'value': 2.3},
  {'date': '1995-05', 'value': 2.6},
  {'date': '1995-06', 'value': 2.7},
  {'date': '1995-07', 'value': 2.8},
  {'date': '1995-08', 'value': 2.7},
  {'date': '1995-09', 'value': 3},
  {'date': '1995-10', 'value': 3},
  {'date': '1995-11', 'value': 2.9},
  {'date': '1995-12', 'value': 3.1},
  {'date': '1996-01', 'value': 2.9},
  {'date': '1996-02', 'value': 3},
  {'date': '1996-03', 'value': 3},
  {'date': '1996-04', 'value': 2.8},
  {'date': '1996-05', 'value': 2.8},
  {'date': '1996-06', 'value': 2.8},
  {'date': '1996-07', 'value': 2.7},
  {'date': '1996-08', 'value': 2.7},
  {'date': '1996-09', 'value': 2.7},
  {'date': '1996-10', 'value': 3},
  {'date': '1996-11', 'value': 3.1},
  {'date': '1996-12', 'value': 2.8},
  {'date': '1997-01', 'value': 2.6},
  {'date': '1997-02', 'value': 2.4},
  {'date': '1997-03', 'value': 2.2},
  {'date': '1997-04', 'value': 2.1},
  {'date': '1997-05', 'value': 2.1},
  {'date': '1997-06', 'value': 2.1},
  {'date': '1997-07', 'value': 2.4},
  {'date': '1997-08', 'value': 2.3},
  {'date': '1997-09', 'value': 2.2},
  {'date': '1997-10', 'value': 2.2},
  {'date': '1997-11', 'value': 2.1},
  {'date': '1997-12', 'value': 1.9},
  {'date': '1998-01', 'value': 1.8},
  {'date': '1998-02', 'value': 1.8},
  {'date': '1998-03', 'value': 1.9},
  {'date': '1998-04', 'value': 2.1},
  {'date': '1998-05', 'value': 2.2},
  {'date': '1998-06', 'value': 1.9},
  {'date': '1998-07', 'value': 1.7},
  {'date': '1998-08', 'value': 1.6},
  {'date': '1998-09', 'value': 1.7},
  {'date': '1998-10', 'value': 1.6},
  {'date': '1998-11', 'value': 1.7},
  {'date': '1998-12', 'value': 1.9},
  {'date': '1999-01', 'value': 2},
  {'date': '1999-02', 'value': 1.9},
  {'date': '1999-03', 'value': 2.1},
  {'date': '1999-04', 'value': 2},
  {'date': '1999-05', 'value': 1.7},
  {'date': '1999-06', 'value': 1.8},
  {'date': '1999-07', 'value': 1.7},
  {'date': '1999-08', 'value': 1.6},
  {'date': '1999-09', 'value': 1.6},
  {'date': '1999-10', 'value': 1.5},
  {'date': '1999-11', 'value': 1.5},
  {'date': '1999-12', 'value': 1.5},
  {'date': '2000-01', 'value': 1.2},
  {'date': '2000-02', 'value': 1.2},
  {'date': '2000-03', 'value': 1},
  {'date': '2000-04', 'value': 0.9},
  {'date': '2000-05', 'value': 1},
  {'date': '2000-06', 'value': 1.2},
  {'date': '2000-07', 'value': 1.2},
  {'date': '2000-08', 'value': 1},
  {'date': '2000-09', 'value': 1.3},
  {'date': '2000-10', 'value': 1.4},
  {'date': '2000-11', 'value': 1.5},
  {'date': '2000-12', 'value': 1.2},
  {'date': '2001-01', 'value': 1.2},
  {'date': '2001-02', 'value': 1.2},
  {'date': '2001-03', 'value': 1.3},
  {'date': '2001-04', 'value': 1.5},
  {'date': '2001-05', 'value': 1.9},
  {'date': '2001-06', 'value': 1.9},
  {'date': '2001-07', 'value': 1.7},
  {'date': '2001-08', 'value': 2.1},
  {'date': '2001-09', 'value': 1.7},
  {'date': '2001-10', 'value': 1.6},
  {'date': '2001-11', 'value': 1.2},
  {'date': '2001-12', 'value': 1.4},
  {'date': '2002-01', 'value': 1.8},
  {'date': '2002-02', 'value': 1.7},
  {'date': '2002-03', 'value': 1.7},
  {'date': '2002-04', 'value': 1.6},
  {'date': '2002-05', 'value': 1.2},
  {'date': '2002-06', 'value': 1.1},
  {'date': '2002-07', 'value': 1.4},
  {'date': '2002-08', 'value': 1.3},
  {'date': '2002-09', 'value': 1.2},
  {'date': '2002-10', 'value': 1.5},
  {'date': '2002-11', 'value': 1.6},
  {'date': '2002-12', 'value': 1.7},
  {'date': '2003-01', 'value': 1.4},
  {'date': '2003-02', 'value': 1.6},
  {'date': '2003-03', 'value': 1.6},
  {'date': '2003-04', 'value': 1.5},
  {'date': '2003-05', 'value': 1.3},
  {'date': '2003-06', 'value': 1.2},
  {'date': '2003-07', 'value': 1.3},
  {'date': '2003-08', 'value': 1.4},
  {'date': '2003-09', 'value': 1.3},
  {'date': '2003-10', 'value': 1.3},
  {'date': '2003-11', 'value': 1.3},
  {'date': '2003-12', 'value': 1.3},
  {'date': '2004-01', 'value': 1.5},
  {'date': '2004-02', 'value': 1.4},
  {'date': '2004-03', 'value': 1.2},
  {'date': '2004-04', 'value': 1.1},
  {'date': '2004-05', 'value': 1.4},
  {'date': '2004-06', 'value': 1.5},
  {'date': '2004-07', 'value': 1.4},
  {'date': '2004-08', 'value': 1.4},
  {'date': '2004-09', 'value': 1.2},
  {'date': '2004-10', 'value': 1.3},
  {'date': '2004-11', 'value': 1.5},
  {'date': '2004-12', 'value': 1.8},
  {'date': '2005-01', 'value': 1.7},
  {'date': '2005-02', 'value': 1.7},
  {'date': '2005-03', 'value': 2},
  {'date': '2005-04', 'value': 1.9},
  {'date': '2005-05', 'value': 1.9},
  {'date': '2005-06', 'value': 2},
  {'date': '2005-07', 'value': 2.3},
  {'date': '2005-08', 'value': 2.4},
  {'date': '2005-09', 'value': 2.5},
  {'date': '2005-10', 'value': 2.4},
  {'date': '2005-11', 'value': 2.2},
  {'date': '2005-12', 'value': 2.1},
  {'date': '2006-01', 'value': 2.2},
  {'date': '2006-02', 'value': 2.2},
  {'date': '2006-03', 'value': 2},
  {'date': '2006-04', 'value': 2.2},
  {'date': '2006-05', 'value': 2.4},
  {'date': '2006-06', 'value': 2.6},
  {'date': '2006-07', 'value': 2.5},
  {'date': '2006-08', 'value': 2.6},
  {'date': '2006-09', 'value': 2.5},
  {'date': '2006-10', 'value': 2.5},
  {'date': '2006-11', 'value': 2.8},
  {'date': '2006-12', 'value': 2.9},
  {'date': '2007-01', 'value': 2.7},
  {'date': '2007-02', 'value': 2.7},
  {'date': '2007-03', 'value': 2.9},
  {'date': '2007-04', 'value': 2.7},
  {'date': '2007-05', 'value': 2.5},
  {'date': '2007-06', 'value': 2.5},
  {'date': '2007-07', 'value': 2},
  {'date': '2007-08', 'value': 2},
  {'date': '2007-09', 'value': 2},
  {'date': '2007-10', 'value': 2.3},
  {'date': '2007-11', 'value': 2.2},
  {'date': '2007-12', 'value': 2.3},
  {'date': '2008-01', 'value': 2.4},
  {'date': '2008-02', 'value': 2.6},
  {'date': '2008-03', 'value': 2.6},
  {'date': '2008-04', 'value': 3},
  {'date': '2008-05', 'value': 3.3},
  {'date': '2008-06', 'value': 3.7},
  {'date': '2008-07', 'value': 4.2},
  {'date': '2008-08', 'value': 4.4},
  {'date': '2008-09', 'value': 4.8},
  {'date': '2008-10', 'value': 4.2},
  {'date': '2008-11', 'value': 3.8},
  {'date': '2008-12', 'value': 3},
  {'date': '2009-01', 'value': 2.9},
  {'date': '2009-02', 'value': 3.1},
  {'date': '2009-03', 'value': 2.8},
  {'date': '2009-04', 'value': 2.3},
  {'date': '2009-05', 'value': 2.1},
  {'date': '2009-06', 'value': 1.7},
  {'date': '2009-07', 'value': 1.6},
  {'date': '2009-08', 'value': 1.4},
  {'date': '2009-09', 'value': 1},
  {'date': '2009-10', 'value': 1.2},
  {'date': '2009-11', 'value': 1.5},
  {'date': '2009-12', 'value': 2.1},
  {'date': '2010-01', 'value': 2.6},
  {'date': '2010-02', 'value': 2.1},
  {'date': '2010-03', 'value': 2.4},
  {'date': '2010-04', 'value': 2.7},
  {'date': '2010-05', 'value': 2.5},
  {'date': '2010-06', 'value': 2.4},
  {'date': '2010-07', 'value': 2.3},
  {'date': '2010-08', 'value': 2.4},
  {'date': '2010-09', 'value': 2.4},
  {'date': '2010-10', 'value': 2.5},
  {'date': '2010-11', 'value': 2.6},
  {'date': '2010-12', 'value': 3.1},
  {'date': '2011-01', 'value': 3.4},
  {'date': '2011-02', 'value': 3.7},
  {'date': '2011-03', 'value': 3.5},
  {'date': '2011-04', 'value': 3.8},
  {'date': '2011-05', 'value': 3.8},
  {'date': '2011-06', 'value': 3.6},
  {'date': '2011-07', 'value': 3.8},
  {'date': '2011-08', 'value': 3.9},
  {'date': '2011-09', 'value': 4.5},
  {'date': '2011-10', 'value': 4.3},
  {'date': '2011-11', 'value': 4.1},
  {'date': '2011-12', 'value': 3.7},
  {'date': '2012-01', 'value': 3.2},
  {'date': '2012-02', 'value': 3.1},
  {'date': '2012-03', 'value': 3.1},
  {'date': '2012-04', 'value': 2.8},
  {'date': '2012-05', 'value': 2.5},
  {'date': '2012-06', 'value': 2.3},
  {'date': '2012-07', 'value': 2.4},
  {'date': '2012-08', 'value': 2.3},
  {'date': '2012-09', 'value': 2.1},
  {'date': '2012-10', 'value': 2.4},
  {'date': '2012-11', 'value': 2.4},
  {'date': '2012-12', 'value': 2.4},
  {'date': '2013-01', 'value': 2.4},
  {'date': '2013-02', 'value': 2.5},
  {'date': '2013-03', 'value': 2.5},
  {'date': '2013-04', 'value': 2.2},
  {'date': '2013-05', 'value': 2.4},
  {'date': '2013-06', 'value': 2.6},
  {'date': '2013-07', 'value': 2.5},
  {'date': '2013-08', 'value': 2.4},
  {'date': '2013-09', 'value': 2.4},
  {'date': '2013-10', 'value': 2},
  {'date': '2013-11', 'value': 1.9},
  {'date': '2013-12', 'value': 1.9},
  {'date': '2014-01', 'value': 1.8},
  {'date': '2014-02', 'value': 1.6},
  {'date': '2014-03', 'value': 1.5},
  {'date': '2014-04', 'value': 1.7},
  {'date': '2014-05', 'value': 1.5},
  {'date': '2014-06', 'value': 1.8},
  {'date': '2014-07', 'value': 1.6},
  {'date': '2014-08', 'value': 1.5},
  {'date': '2014-09', 'value': 1.3},
  {'date': '2014-10', 'value': 1.3},
  {'date': '2014-11', 'value': 1.1},
  {'date': '2014-12', 'value': 0.7},
  {'date': '2015-01', 'value': 0.5},
  {'date': '2015-02', 'value': 0.4},
  {'date': '2015-03', 'value': 0.3},
  {'date': '2015-04', 'value': 0.3},
  {'date': '2015-05', 'value': 0.4},
  {'date': '2015-06', 'value': 0.3},
  {'date': '2015-07', 'value': 0.5},
  {'date': '2015-08', 'value': 0.4},
  {'date': '2015-09', 'value': 0.2},
  {'date': '2015-10', 'value': 0.2},
  {'date': '2015-11', 'value': 0.4},
  {'date': '2015-12', 'value': 0.5},
  {'date': '2016-01', 'value': 0.6},
  {'date': '2016-02', 'value': 0.6},
  {'date': '2016-03', 'value': 0.8},
  {'date': '2016-04', 'value': 0.7},
  {'date': '2016-05', 'value': 0.7},
  {'date': '2016-06', 'value': 0.8},
  {'date': '2016-07', 'value': 0.9},
  {'date': '2016-08', 'value': 1},
  {'date': '2016-09', 'value': 1.3},
  {'date': '2016-10', 'value': 1.3},
  {'date': '2016-11', 'value': 1.5},
  {'date': '2016-12', 'value': 1.8},
  {'date': '2017-01', 'value': 1.9},
  {'date': '2017-02', 'value': 2.3},
  {'date': '2017-03', 'value': 2.3},
  {'date': '2017-04', 'value': 2.6},
  {'date': '2017-05', 'value': 2.7},
  {'date': '2017-06', 'value': 2.6},
  {'date': '2017-07', 'value': 2.6},
  {'date': '2017-08', 'value': 2.7},
  {'date': '2017-09', 'value': 2.8},
  {'date': '2017-10', 'value': 2.8},
  {'date': '2017-11', 'value': 2.8},
  {'date': '2017-12', 'value': 2.7},
  {'date': '2018-01', 'value': 2.7},
  {'date': '2018-02', 'value': 2.5},
  {'date': '2018-03', 'value': 2.3},
  {'date': '2018-04', 'value': 2.2},
  {'date': '2018-05', 'value': 2.3},
  {'date': '2018-06', 'value': 2.3},
  {'date': '2018-07', 'value': 2.3},
  {'date': '2018-08', 'value': 2.4},
  {'date': '2018-09', 'value': 2.2},
  {'date': '2018-10', 'value': 2.2},
  {'date': '2018-11', 'value': 2.2},
  {'date': '2018-12', 'value': 2},
  {'date': '2019-01', 'value': 1.8},
  {'date': '2019-02', 'value': 1.8},
  {'date': '2019-03', 'value': 1.8},
  {'date': '2019-04', 'value': 2},
  {'date': '2019-05', 'value': 1.9},
  {'date': '2019-06', 'value': 1.9},
  {'date': '2019-07', 'value': 2},
  {'date': '2019-08', 'value': 1.7},
  {'date': '2019-09', 'value': 1.7},
  {'date': '2019-10', 'value': 1.5},
  {'date': '2019-11', 'value': 1.5},
  {'date': '2019-12', 'value': 1.4},
  {'date': '2020-01', 'value': 1.8},
  {'date': '2020-02', 'value': 1.7},
  {'date': '2020-03', 'value': 1.5},
  {'date': '2020-04', 'value': 0.9},
  {'date': '2020-05', 'value': 0.7},
  {'date': '2020-06', 'value': 0.8},
  {'date': '2020-07', 'value': 1.1},
  {'date': '2020-08', 'value': 0.5},
  {'date': '2020-09', 'value': 0.7},
  {'date': '2020-10', 'value': 0.9},
  {'date': '2020-11', 'value': 0.6},
  {'date': '2020-12', 'value': 0.8},
  {'date': '2021-01', 'value': 0.9},
  {'date': '2021-02', 'value': 0.7},
  {'date': '2021-03', 'value': 1},
  {'date': '2021-04', 'value': 1.6},
  {'date': '2021-05', 'value': 2.1},
  {'date': '2021-06', 'value': 2.4},
  {'date': '2021-07', 'value': 2.1},
  {'date': '2021-08', 'value': 3},
  {'date': '2021-09', 'value': 2.9},
  {'date': '2021-10', 'value': 3.8},
  {'date': '2021-11', 'value': 4.6},
  {'date': '2021-12', 'value': 4.8},
  {'date': '2022-01', 'value': 4.9},
  {'date': '2022-02', 'value': 5.5},
  {'date': '2022-03', 'value': 6.2},
  {'date': '2022-04', 'value': 7.8},
  {'date': '2022-05', 'value': 7.9},
  {'date': '2022-06', 'value': 8.2},
  {'date': '2022-07', 'value': 8.8},
  {'date': '2022-08', 'value': 8.6},
  {'date': '2022-09', 'value': 8.8},
  {'date': '2022-10', 'value': 9.6},
  {'date': '2022-11', 'value': 9.3},
  {'date': '2022-12', 'value': 9.2},
  {'date': '2023-01', 'value': 8.8},
  {'date': '2023-02', 'value': 9.2},
  {'date': '2023-03', 'value': 8.9},
  {'date': '2023-04', 'value': 7.8},
  {'date': '2023-05', 'value': 7.9},
  {'date': '2023-06', 'value': 7.3},
  {'date': '2023-07', 'value': 6.4},
  {'date': '2023-08', 'value': 6.3},
  {'date': '2023-09', 'value': 6.3},
  {'date': '2023-10', 'value': 4.7},
  {'date': '2023-11', 'value': 4.2},
  {'date': '2023-12', 'value': 4.2},
  {'date': '2024-01', 'value': 4.2},
  {'date': '2024-02', 'value': 3.8},
  {'date': '2024-03', 'value': 3.8},
  {'date': '2024-04', 'value': 3},
  {'date': '2024-05', 'value': 2.8},
  {'date': '2024-06', 'value': 2.8},
  {'date': '2024-07', 'value': 3.1},
  {'date': '2024-08', 'value': 3.1},
  {'date': '2024-09', 'value': 2.6}],
 'title': 'Inflation',
 'subtitle': 'All items, % | Source: ONS through ECO API',
 'description': 'CPIH annual rate, All items, 2015=100',
 'units': None,
 'raw': {'description': {'cdid': 'L55O',
   'contact': {'email': 'cpi@ons.gov.uk',
    'name': 'Consumer Price Inflation team',
    'telephone': 'Consumer Price Inflation Enquiries: +44 1633 456900. Consumer Price Inflation recorded message (available after 8am on release day): +44 800 0113703'},
   'datasetId': 'MM23',
   'datasetUri': '/economy/inflationandpriceindices/datasets/consumerpriceindices',
   'date': '2024 SEP',
   'keyNote': 'Change over 12 months',
   'nextRelease': '20 November 2024',
   'number': '2.6',
   'preUnit': '',
   'releaseDate': '2024-10-15T23:00:00.000Z',
   'sampleSize': '0',
   'source': '',
   'title': 'CPIH ANNUAL RATE 00: ALL ITEMS 2015=100',
   'unit': '%'},
  'months': [{'date': '1989 JAN',
    'label': '1989 JAN',
    'month': 'January',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.7',
    'year': '1989'},
   {'date': '1989 FEB',
    'label': '1989 FEB',
    'month': 'February',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.8',
    'year': '1989'},
   {'date': '1989 MAR',
    'label': '1989 MAR',
    'month': 'March',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.9',
    'year': '1989'},
   {'date': '1989 APR',
    'label': '1989 APR',
    'month': 'April',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.6',
    'year': '1989'},
   {'date': '1989 MAY',
    'label': '1989 MAY',
    'month': 'May',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.9',
    'year': '1989'},
   {'date': '1989 JUN',
    'label': '1989 JUN',
    'month': 'June',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.8',
    'year': '1989'},
   {'date': '1989 JUL',
    'label': '1989 JUL',
    'month': 'July',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.7',
    'year': '1989'},
   {'date': '1989 AUG',
    'label': '1989 AUG',
    'month': 'August',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.5',
    'year': '1989'},
   {'date': '1989 SEP',
    'label': '1989 SEP',
    'month': 'September',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.7',
    'year': '1989'},
   {'date': '1989 OCT',
    'label': '1989 OCT',
    'month': 'October',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.8',
    'year': '1989'},
   {'date': '1989 NOV',
    'label': '1989 NOV',
    'month': 'November',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.7',
    'year': '1989'},
   {'date': '1989 DEC',
    'label': '1989 DEC',
    'month': 'December',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.8',
    'year': '1989'},
   {'date': '1990 JAN',
    'label': '1990 JAN',
    'month': 'January',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '5.9',
    'year': '1990'},
   {'date': '1990 FEB',
    'label': '1990 FEB',
    'month': 'February',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '6.3',
    'year': '1990'},
   {'date': '1990 MAR',
    'label': '1990 MAR',
    'month': 'March',
    'quarter': '',
    'sourceDataset': 'MM23',
    'updateDate': '2018-12-19T00:00:00.000Z',
    'value': '6.2',
    'year': '1990'},
   {'date': '1990 APR',
    'label': '1990 APR',
    'month': 'April',

</br>
</br>

We just care about the data itself. Let's take this and make a dataframe out of it.

We'll rename the `value` column to `inflation` so we can keep track of what this data is when we merge it.

In [ ]:
inflation_response = inflation_req.json()
inflation_data = inflation_response['data']
inflation_df = pd.DataFrame(inflation_data)
inflation_df = inflation_df.rename(columns={"value": "inflationrate"})
inflation_df

        date  inflationrate
0    1989-01            5.7
1    1989-02            5.8
2    1989-03            5.9
3    1989-04            5.6
4    1989-05            5.9
..       ...            ...
424  2024-05            2.8
425  2024-06            2.8
426  2024-07            3.1
427  2024-08            3.1
428  2024-09            2.6

[429 rows x 2 columns]

</br>
</br>
</br>

We now have a Pandas `DataFrame` containing the inflation data. Let's do the same for unemplyoyment data.

In [ ]:
unemployment_url = "https://api.economicsobservatory.com/gbr/unem"
unemployment_req = requests.get(unemployment_url) # This is the request
unemployment_response = unemployment_req.json() # This is the response in JSON format
unemployment_data = unemployment_response['data'] # We only want the data part of the response, not the metadata
unemployment_df = pd.DataFrame(unemployment_data) # We convert the data to a DataFrame
unemployment_df = unemployment_df.rename(columns={"value": "unemploymentrate"}) # We rename the value column to unemployment

</br>
</br>

Now that we have all three series downloaded, we can start merging and transforming the data.

Let's merge our `gdp_df` with the `exports_df` and `imports_df` so we can express them as a ratio.

In [ ]:
inflation_ratio_df = inflation_df.merge(unemployment_df, on="date")
inflation_ratio_df.tail(5)

        date  inflationrate  unemploymentrate
423  2024-04            3.0               4.4
424  2024-05            2.8               4.2
425  2024-06            2.8               4.1
426  2024-07            3.1               4.0
427  2024-08            3.1               4.3

</br>
</br>

Let's now divide the `exports` column by the `gdp` column to get the Ratio and keep only the result and the `date`.

<br/><br/>

We now have all the data we need in two dataframes: `inflation_ratio_df` and `unemployment_ratio_df`.

To use these in a graph, we'll need them in one dataframe.

In [ ]:
economy_df = pd.merge(inflation_df, unemployment_df, on="date") # Merge the inflation rate and unemployment rate DataFrames on the date column
economy_df.head(5)

      date  inflationrate  unemploymentrate
0  1989-01            5.7               7.7
1  1989-02            5.8               7.6
2  1989-03            5.9               7.4
3  1989-04            5.6               7.3
4  1989-05            5.9               7.2

</br></br>

It's best practice for `Vega-lite` to keep data in a TIDY format where there are columns that specify the series and a column for the data. To tranform our data, we'll use the pandad function `melt`.

In [ ]:
economy_df = economy_df.melt(id_vars="date", var_name="series", value_name="value") # Melt the DataFrame so that the inflation rate and unemployment rates are in the same column,
                                                                                # Specifying we want columns of date and series
economy_df

        date            series  value
0    1989-01     inflationrate    5.7
1    1989-02     inflationrate    5.8
2    1989-03     inflationrate    5.9
3    1989-04     inflationrate    5.6
4    1989-05     inflationrate    5.9
..       ...               ...    ...
851  2024-04  unemploymentrate    4.4
852  2024-05  unemploymentrate    4.2
853  2024-06  unemploymentrate    4.1
854  2024-07  unemploymentrate    4.0
855  2024-08  unemploymentrate    4.3

[856 rows x 3 columns]

</br>
</br>

We can now export this data to use in `Vega-lite`.

In [ ]:
economy_df.to_csv("s5_UK_economy_data.csv", index=False)

</br></br>

Finally, to get the CSV onto GitHub from Colab. We just have to go to the Files tab in the sidebar, and find our file:

<img
style="max-height: 350px;
    width: auto;" src="https://raw.githubusercontent.com/jhellingsdata/RADataHub/main/misc/Masterclass/section%205/images/colab_download.png">
</img>